.header{
    background-color:#ffffff ;
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family:"PingFangSC-Medium";
}
.Content,.Footer{
    background-color:#ffffff ;
    font-size: 16px;
    font-family:"PingFangSC-Medium";
}
.rowleft,.rowright{
    padding: 10px;
}
.rowleftTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rowleft{
    Row{
        box-shadow: 0 1px 23px 0 rgb(0 0 0 / 5%);
    }
}
.rowleftTop{
    div{
        width: 50%;
        height: 114px;
        padding: 24px;
    }
}
.rowleftRow{
    box-shadow: 0 1px 23px 0 rgb(0 0 0 / 5%);
}
.rowleftCenterRow,.rowleftRightRow{
    height: 114px;
    padding: 24px;
    box-shadow: 0 1px 23px 0 rgb(0 0 0 / 5%);
    margin-top: 16px;
}
.textNum{
    font-size: 26px;
    color: #2d0b90;
}
.block{
    line-height: 40px;
    font-size: 16px;
    span{
        width: 120px;
        display: inline-block;
    }
}
.CardgutterRow{
    box-shadow: 0 1px 23px 0 rgb(0 0 0 / 5%);
    margin-top: 10px;
}